.card {
    margin-left: 2.5em;
}

.card-title {
    color: #213547;
    font-size: 1.5em;
    font-weight: bold;
}

.card-body {
    background-color: white;
    border-radius: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #213547;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

